body {
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  padding: 20px;
}

.counter {
  padding: 20px;
  display: inline-block;
}

.playercol {
  display: inline-block;
  width: 100px;
}

.goalscol {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.communitycol {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.communityidcol {
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}
